<div class="page-body">
  <section style="display: flex; flex-direction: row; gap: 1.5rem">
    <button
      style="color: white; background-color: blue; cursor: pointer"
      [routerLink]="'/dashboard/users'"
    >
      Go Back
    </button>
    <button
      style="color: white; background-color: red; cursor: pointer"
      (click)="logout()"
    >
      LOG OUT
    </button>
  </section>

  <section>
    <h1>User</h1>

    <div style="display: columns; gap: 1rem">
      <div>
        <p>User ID: {{ user?.id }}</p>
        <img [src]="user?.avatar" alt="user image" />
        <p>Name: {{ user?.first_name }} {{ user?.last_name }}</p>
        <p>Email: {{ user?.email }}</p>

        <div
          *ngIf="
            user?.id !== activeUser.id &&
            activeUser.admin &&
            activeUser.id === user?.adminId
          "
          style="display: flex; flex-direction: row; gap: 1rem"
        >
          <button
            style="color: white; background-color: blue; cursor: pointer"
            (click)="toggleUpdateUserForm()"
          >
            Update User
          </button>
          <button
            style="color: white; background-color: red; cursor: pointer"
            (click)="deleteUser()"
          >
            Delete User
          </button>
        </div>

        <p *ngIf="isUpdateUser">Update User Form</p>
        <form
          style="display: flex; flex-direction: column; gap: 1rem; width: 20rem"
          title="Update User Profile"
          *ngIf="isUpdateUser"
          [formGroup]="updateUserForm"
          (ngSubmit)="updateUser()"
        >
          <input type="text" formControlName="first_name" />
          <span
            style="color: red"
            *ngIf="
              $any(updateUserForm.get('first_name')).touched &&
              $any(updateUserForm.get('first_name')).errors
            "
            >Invalid email</span
          >
          <input type="text" formControlName="last_name" />

          <span
            style="color: red"
            *ngIf="
              $any(updateUserForm.get('last_name')).touched &&
              $any(updateUserForm.get('last_name')).errors
            "
            >Invalid email</span
          >

          <button
            [style]="{
              color: 'white',
              backgroundColor:
                updateUserForm.touched && !updateUserForm.valid
                  ? 'grey'
                  : 'black'
            }"
            [disabled]="updateUserForm.touched && !updateUserForm.valid"
            type="submit"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
