<div class="page-body">
  <header style="margin-bottom: 1rem">Login Page</header>
  <section style="display: flex; flex-direction: row; gap: 0.5rem; width: 100%">
    <section
      style="display: flex; flex-direction: columns; gap: 1rem; width: 50%"
    >
      <title>Form</title>

      <Form
        style="display: flex; flex-direction: column; gap: 1rem"
        [formGroup]="loginForm"
        (ngSubmit)="loginUser()"
      >
        <input
          name="email"
          type="email"
          autocomplete="email"
          formControlName="email"
        />
        <span
          style="color: red"
          *ngIf="
            $any(loginForm.get('email')).touched &&
            $any(loginForm.get('email')).errors
          "
          >Invalid email</span
        >

        <input
          name="password"
          type="text"
          autocomplete="current-password"
          formControlName="password"
        />

        <span
          style="color: red"
          *ngIf="
            $any(loginForm.get('password')).touched &&
            $any(loginForm.get('password')).errors
          "
          >Invalid password</span
        >
        <button
          [style]="{
            color: 'white',
            backgroundColor:
              loginForm.touched && !loginForm.valid ? 'grey' : 'black'
          }"
          [disabled]="loginForm.touched && !loginForm.valid"
          type="submit"
        >
          Login
        </button>
      </Form>
    </section>
  </section>

  <footer style="margin-top: 1rem">
    <a [routerLink]="'/onboarding/signup'">Register here</a>
  </footer>
</div>
